.active {
  color: #4c5663;
  font-weight: bold;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4c5663;
}